* {
    background-color: rgb(255, 255, 255);
    font-family: Monaco, Monospace;
    text-decoration: none;
    color: black;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav, footer {
    flex-shrink: 0;
}

section {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px;
}

nav left {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
}

nav right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
 
}

nav left a, right a {
    padding: 5px;    
    margin: 5px;
}

section div {
    margin: 5px;
}

#LOGO {
    text-align: center;
    margin: 5px;
    font-size: 100px;
    width: 80vw;
    height: 120px;
}

#Search input {
    width: 80vw;
    height: 20px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

footer a {
    padding: 10px;
}